@model ToDoApplication.Models.User

@{
    ViewBag.Title = "User Registration Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <br/>
    <div> 
     @using (Html.BeginForm("RegisterUser", "Login", FormMethod.Post))
        {
             <i>Enter Username &nbsp;&nbsp; :</i> @Html.EditorFor(m => m.UserName)
            @Html.ValidationMessageFor(x => x.UserName) <br /><br/>

            <i>Enter  Password &nbsp;&nbsp; :</i>@Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(x => x.Password) <br /><br />

           <i>Retype Password &nbsp;&nbsp;:</i><input name="RePassword" type="password" /><br /><br/>
  
            <input id="Submit1" type="submit" value="Register" />
            @Html.ActionLink("Back to Login Page", "Index")
        }  

    </div>
</body>
</html>
